services:
  playwright:
    image: mcr.microsoft.com/playwright:v1.52.0-noble
    container_name: playwright
    restart: unless-stopped

    environment:
      APP_URL: ${APP_URL}
      NODE_ENV: production

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.playwright-web.rule=Host(`playwright.martin-linde.com`)"
      - "traefik.http.routers.playwright-web.entrypoints=web"
      - "traefik.http.routers.playwright-web.middlewares=redirect-to-https@file"
      - "traefik.http.routers.playwright-websecure.rule=Host(`playwright.martin-linde.com`)"
      - "traefik.http.routers.playwright-websecure.entrypoints=websecure"
      - "traefik.http.routers.playwright-websecure.tls.certresolver=letsencrypt"
      - "traefik.http.services.playwright.loadbalancer.server.port=3000"
